[submodule "public"]
	path = public
	url = https://github.com/joaopmatias/joaopmatias.github.io
[submodule "blog_notebooks/2023-07-18-log-parsing/logparser"]
	path = blog_notebooks/2023-07-18-log-parsing/logparser
	url = https://github.com/joaopmatias/logparser
